body {
    font-family: 'Montserrat', sans-serif;
}

.forecast-btn {
    border: 1px solid #6627EB;
    padding: 6px 10px;
    background: #6627EB;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-variant: small-caps;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.forecasts::before {
    content: 'Мои предсказания';
    font-weight: bold;
}

.forecasts {
    display: flex;
    flex-direction: column;
}

.forecast-item {
    padding: 10px;
    border: 1px solid black;
    margin: 10px 0;
}

.forecast-item h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.forecast-item p {
    margin: 0;
}
